
#root{
  width: 100%;
}
.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:32px;
  padding:16px;
  width:100%;
}


.card{
  border: 1px solid black;
  border-radius: 10px;
  padding:50px;
  box-shadow: 4px 4px black;
  text-align: center;
  cursor:pointer;

}

.card > h2{
  font-size: 32px;
  border-left:5px solid blue;
}

.card > img{
  border-radius: 10px;
}

.tag{
  background-color:black;
  
  color:white;
  border-radius:10px;
  padding:4px 12px;
  font-size:12px;
  font-weight:bold;
}
.tags{
  
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  margin-bottom:24px;
  justify-content:center;
  max-width:300px;
  
  
}